@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.cardContainer {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden; /* Para asegurar que el pseudo-elemento no se desborde */
}

.cardContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 4px; /* Espesor del borde */
  background: linear-gradient(
  270deg,
  rgb(210, 160, 230),  /* Lavanda claro */
  rgb(200, 170, 235),  /* Lila pastel */
  rgb(205, 165, 220),  /* Malva suave */
  rgb(235, 175, 220),  /* Rosa polvoriento */
  rgb(240, 150, 195),  /* Rosa melocotón */
  rgb(220, 170, 220),  /* Orquídea pálido */
  rgb(210, 160, 230)   /* Lavanda claro */
);
  background-size: 1200% 1200%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  animation: backgroundAnimation 5s linear infinite;
}

.cardContainer > * {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animateColorChange {
  background: linear-gradient(
    270deg,
    rgb(232, 203, 242),  /* Lavanda claro */
    rgb(223, 198, 240),  /* Lila pastel */
    rgb(227, 195, 235),  /* Malva suave */
    rgb(241, 202, 229),  /* Rosa polvoriento */
    rgb(240, 185, 215),  /* Rosa claro */
    rgb(230, 200, 230),  /* Orquídea pálido */
    rgb(232, 203, 242),  /* Repetición lavanda */
    rgb(223, 198, 240),  /* Repetición lila */
    rgb(227, 195, 235),  /* Repetición malva */
    rgb(245, 210, 233),  /* Rosa algodón */
    rgb(243, 180, 213),  /* Rosa melocotón */
    rgb(230, 200, 230),  /* Repetición orquídea */
    rgb(232, 203, 242)   /* Cierre lavanda */
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 2s ease infinite;
}

@keyframes borderAnimation {
  0% , 100%{
    border-image-source: linear-gradient(
      270deg,
      rgb(232, 203, 242),  /* Lavanda claro */
      rgb(223, 198, 240),  /* Lila pastel */
      rgb(227, 195, 235),  /* Malva suave */
      rgb(241, 202, 229),  /* Rosa polvoriento */
      rgb(240, 185, 215),  /* Rosa claro */
      rgb(230, 200, 230),  /* Orquídea pálido */
      rgb(232, 203, 242),  /* Repetición lavanda */
      rgb(223, 198, 240),  /* Repetición lila */
      rgb(227, 195, 235),  /* Repetición malva */
      rgb(245, 210, 233),  /* Rosa algodón */
      rgb(243, 180, 213),  /* Rosa melocotón */
      rgb(230, 200, 230),  /* Repetición orquídea */
      rgb(232, 203, 242)   /* Cierre lavanda */
    );
    background-position: 0% 50%;
  }
  20% {
    border-image-source: linear-gradient(270deg, rgb(148, 38, 182), rgb(136, 54, 190), rgb(136, 48, 158), rgb(184, 70, 150), rgb(172, 27, 94), rgb(122, 3, 122), rgb(148, 38, 182 ), rgb(136, 54, 190), rgb(136, 48, 158), rgb(209, 57, 163), rgb(173, 0, 101), rgb(122, 3, 122), rgb(148, 38, 182 )  );
    background-position: 0% 50%;
  }
  40% {
    border-image-source: linear-gradient(270deg, rgb(148, 38, 182), rgb(136, 54, 190), rgb(136, 48, 158), rgb(184, 70, 150), rgb(172, 27, 94), rgb(122, 3, 122), rgb(148, 38, 182 ), rgb(136, 54, 190), rgb(136, 48, 158), rgb(209, 57, 163), rgb(173, 0, 101), rgb(122, 3, 122), rgb(148, 38, 182 )  );
    background-position: 0% 50%;
  }
  60% {
    border-image-source: linear-gradient(270deg, rgb(148, 38, 182), rgb(136, 54, 190), rgb(136, 48, 158), rgb(184, 70, 150), rgb(172, 27, 94), rgb(122, 3, 122), rgb(148, 38, 182 ), rgb(136, 54, 190), rgb(136, 48, 158), rgb(209, 57, 163), rgb(173, 0, 101), rgb(122, 3, 122), rgb(148, 38, 182 )  );
    background-position: 0% 50%;
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(148, 38, 182), rgb(136, 54, 190), rgb(136, 48, 158), rgb(184, 70, 150), rgb(172, 27, 94), rgb(122, 3, 122), rgb(148, 38, 182 ), rgb(136, 54, 190), rgb(136, 48, 158), rgb(209, 57, 163), rgb(173, 0, 101), rgb(122, 3, 122), rgb(148, 38, 182 )  );
    background-position: 0% 50%;
  }
  90% {
    border-image-source: linear-gradient(270deg, rgb(148, 38, 182), rgb(136, 54, 190), rgb(136, 48, 158), rgb(184, 70, 150), rgb(172, 27, 94), rgb(122, 3, 122), rgb(148, 38, 182 ), rgb(136, 54, 190), rgb(136, 48, 158), rgb(209, 57, 163), rgb(173, 0, 101), rgb(122, 3, 122), rgb(148, 38, 182 )  );
    background-position: 0% 50%;
  }
}

.cardContainerBorder {
  position: relative;
  border: 4px solid transparent; /* Borde transparente para usar border-image */
  border-radius: 4px;
  overflow: hidden; /* Para asegurar que el pseudo-elemento no se desborde */
  animation: borderAnimation 1s linear infinite;
  border-image-slice: 1;
  border-image-width: 4px;
  mask-origin: padding-box, content-box;
  mask-repeat: no-repeat;
  /* mask-composite: exclude, add;  */
}

@keyframes borderBottomAnimation {
  0%, 100% {
    border-bottom-color: rgb(148, 38, 182);
  }
  20% {
    border-bottom-color: rgb(136, 54, 190);
  }
  40% {
    border-bottom-color: rgb(136, 48, 158);
  }
  60% {
    border-bottom-color: rgb(209, 57, 163);
  }
  75% {
    border-bottom-color: rgb(207, 18, 106);
  }
  90% {
    border-bottom-color: rgb(122, 3, 122);
  }
}

.cardContainerBorderBottom {
  border-bottom: 4px solid transparent; /* Borde inferior transparente para usar border-image */
  animation: borderBottomAnimation 5s linear infinite;
}

